parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src
		- tests
	bootstrapFiles:
		- tests/_support/bootstrap.php
	excludes_analyse:
	ignoreErrors:
		- '#Unsafe usage of new static\(\)#'
	universalObjectCratesClasses:
		- Faker\Generator
		- Heroes\Entities\BaseEntity
		- Heroes\Providers\BaseProvider
	scanDirectories:
	dynamicConstantNames:
